@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root   {
    --green: #00F417;
    --orange: #FF8110;
    --blue: #5072FF;
    --main-bg: #FFF;
    --main-color: var(--blue);
    --greenFilter: invert(56%) sepia(64%) saturate(1960%) hue-rotate(83deg) brightness(108%) contrast(119%);
    --orangeFilter: invert(64%) sepia(30%) saturate(5788%) hue-rotate(350deg) brightness(99%) contrast(104%);
    --blueFilter: invert(40%) sepia(92%) saturate(2157%) hue-rotate(214deg) brightness(98%) contrast(107%);
    --border-radius: 2.1rem;
    --boerder-style: 1px solid var(--main-color);
}

*       {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blue);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 라틴 폰트 적용 */

@font-face {
    font-family: 'Blue_zip';
    src: url(./fonts/digbat/PixelDingbat-Regular.otf);
}

@font-face {
    font-family: 'Brew Askew';
    src: url(./fonts/digbat/dingbat_BrewAskew.otf);
}

@font-face {
    font-family: 'Christmas Cat';
    src: url(./fonts/digbat/ChristmasCat-SVG.otf) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'fluttering';
    src: url(./fonts/digbat/Dingbat__Fluttering-Regular.otf) format('woff2');
}

@font-face {
    font-family: 'Geo Zoo';
    src: url(./fonts/digbat/dingbat_Geozoo.otf);
}

@font-face {
    font-family: '자음꽃';
    src: url(./fonts/digbat/dingbat_flower-Regular.ttf);
}

@font-face {
    font-family: '표아이';
    src: url(./fonts/digbat/dingbat_pyooai-Regular.otf);
}


body    {
    margin: 0;
}

header  {
    position: fixed;
    margin: 38px 42px;
    width: calc(100vw - 84px);
    display: flex;
    align-content: center; 
    justify-content: space-between;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
}

p   {
    font-size: 72px;
    height: 100vh;
    overflow-y: scroll;
    padding: 50vh 0;
    line-height: 120%;
    font-size: 128px;
}

p::-webkit-scrollbar {
    display: none;
}

p:focus {
    outline: none;
}


.filter {
    filter: var(--blueFilter);
}

.rotateRight {
    writing-mode: vertical-lr;
}

.rotateLeft  {
    writing-mode: vertical-lr;
    rotate: 180deg;
}

.changerContainerOuter   {
    position: fixed;
    top: calc(50vh - 75px);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.changerContainer   {
    display: flex;
    align-items: center;
    pointer-events: auto;
}

.textContainer  {
    position: relative;
    top: 0;
    width: 100vw;
    height: calc(100vh - 160px);
    padding: 0px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
}

.selectorContainer  {
    position: fixed;
    top: calc(100vh - 163px);
    background-color: var(--main-bg);
}

.fontButtonContainer    {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-top: var(--boerder-style);
}

.fontButton {
    display: flex;
    height: 42px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-color: var(--main-color);
    background: #FFF;
    white-space: nowrap;
}

.selected   {
    background: var(--main-color);
    font-weight: 700;
    color: #FFF;
}

.sliderContainer    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    border-top: var(--boerder-style);
}

.slider {
    appearance: none;
    width: 50vw;
    height: 1px;
    background-color: var(--main-color);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
}